<section *ngIf="videoSelect">
  <div class="box-viedo">
    <form>
      <input *ngIf="videoSelect.optionTitle != '#&6xE!gwPAYq'" type="text" name="title" [(ngModel)]="videoSelect.optionTitle" placeholder="Option Title">
      <input
        type="text"
        name="url"
        [(ngModel)]="videoSelect.url"
        placeholder="Url"
        (change)="viewVideos(videoSelect.url)"
      >
      <div id={{idVideo}} class="viewVideo"></div>
      <button class="create" (click)="addChild()"><i class="fas fa-plus-circle"></i></button>
      <button
        class="delete"
        (click)="deleteMovie()"
        *ngIf="videoSelect.optionTitle != '#&6xE!gwPAYq'"
      >
        <i class="fas fa-times-circle"></i>
      </button>
    </form>
  </div>
  <div *ngIf="videoSelect.child" class="child">
    <ng-container *ngFor="let child of videoSelect.child" >
      <app-box-video [videoSelect]="child"></app-box-video>
    </ng-container>
  </div>
</section>
