<section *ngIf="videoSelect">
  <div class="box-viedo">
    <form>
      <input *ngIf="videoSelect.optionTitle != '#&6xE!gwPAYq'" type="text" name="title" [(ngModel)]="videoSelect.optionTitle" placeholder="Option Title">
      <input type="text" name="url"  [(ngModel)]="videoSelect.url" placeholder="Url">
      <div class="viewVideo"></div>
      <span>
        <button (click)="addChild()">Creat Option</button>
        <button (click)="deleteMovie()" *ngIf="videoSelect.optionTitle != '#&6xE!gwPAYq'">Remove Video</button>
      </span>
    </form>
  </div>
  <div *ngIf="videoSelect.child" class="child">
    <ng-container *ngFor="let child of videoSelect.child" >
      <app-box-video [videoSelect]="child"></app-box-video>
    </ng-container>
  </div>
</section>
