section
  display: flex
  align-items: center

  .box-viedo
    border-radius: 10px
    padding: 20px 10px
    background-color: white
    width: 250px
    min-width: 250px;
    margin: 10px 5px
    position relative
    z-index: 2

    input
      padding: 5px 10px
      border: solid 1px #dedede
      width: 100%
      margin: 5px 0
      font-size: 14px

    .viewVideo
      width: 100%
      display: table

      iframe
        width: 100%

    .create
      display: table
      position: absolute
      bottom: -20px
      left: 50%
      transform: translate(-50%, 0)
      background-color: white
      width: 40px
      height: 40px
      border-radius: 50%
      border: solid 1px #e5e5e5
      font-size: 27px
      color: #00B880
      cursor: pointer
      transition: .5s transform

      &:hover
        transform: translate(-50%, 0) scale(1.1)
        background-color: #00B880
        color: white


    &:hover .delete
      opacity  1

    .delete
      color: #c95555
      position: absolute
      top: -10px
      right: -10px
      font-size: 22px
      background-color: #fff
      display: flex
      align-items: center
      justify-content: center
      width: 30px
      height: 31px
      border-radius: 50%
      border: solid 1px #e5e5e5
      line-height: 0
      padding: 5px
      cursor: pointer
      opacity: 0

      &:hover
        color: white
        background-color: #c95555

  .child
    border-left: solid 4px rgba(0,0,0,0.2);
    margin: 10px 0 10px 10px;
    position: relative;
    z-index: 1;
    display: flex
    flex-direction: column
    justify-content: space-between

    &:before
      content: ''
      width: 20px
      height 4px
      background-color: rgba(0,0,0,0.2)
      position: absolute
      top: 50%
      left: -23px
