#dash
  height: 100vh
  width: calc(100vw - 300px)
  overflow: auto
  background-color: #e5e5e5
  margin: 0 0 0 auto

  #ancora
    position: fixed
    top: 0
    left 0
    width: 300px
    height 100vh
    display: flex
    flex-direction: column
    align-content center
    justify-content: space-between
    background-color: #006780
    padding: 15px
    color: white
    line-height: 1.2em
    font-size: 14px
    text-align: center
    z-index: 2

    h1
      max-width: 80%
      margin: 0 auto 10px

    &>img
      width: calc(100% + 100px)
      max-width: none
      height: auto
      margin: 0 -85px 0 -15px

    a
      display: inline-table
      margin: 5px
      font-size: 25px

  #path-videos
    padding-left: 100px
    filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.2))

