<section id="dash">
  <div id="ancora">
    <header>
      <h1>
        <img src="/assets/logo.png" alt="Question Movie Make" />
      </h1>
      <!-- <p>Easily create movies with choice or informational interface. A perfect tool for online classes, educational games and more!</p> -->
    </header>
    <img src="/assets/ilus.png" alt="Ilustration" />
    <footer>
      <p>Desenvolvido por Vitor Zortéa</p>
      <span>
        <a title="Github" href="https://github.com/vitorzortea" target="_blank"><i class="fab fa-github-square"></i></a>
        <a title="Website" href="http://vitorzortea.sitepessoal.com/#home" target="_blank"><i class="far fa-browser"></i></a>
        <a title="whatsapp" href="https://api.whatsapp.com/send?phone=5563984850350" target="_blank"><i class="fab fa-whatsapp-square"></i></a>
      </span>
    </footer>
  </div>
  <div id="interface">
    <button><i class="fas fa-save"></i> Save</button>
    <button><i class="fas fa-times-circle"></i> Delte</button>
  </div>
  <div id="path-videos">
    <app-box-video [videoSelect]="this.dataJson.video"></app-box-video>
  </div>
</section>
